body {
	/*The background-color changes the main color of the page. */
	background-color: #8688ad;
	
	/*The color adjusts the color of all of the text.*/
	color: #0f1673;
	
	font-family: Georgia, Arial, sans-serif;
}

* {box-sizing: border-box}

header {
	background-color: #FFFFFF;
	background-position: right;
	background-repeat: no-repeat;
	text-align: center;
	height: 205px;
	display: block;
}

label {
	display: inline;
	text-align: right;
	font-weight: bold;
	width: 10em;
	padding-right: 0.5em;
}

section {
	width: 90%;
	padding: 0.5em;
	padding-left: 1.5em;
	margin: 1em 0em 0.5em 0em;
	background-color: #BBBBBB;
	color: #000000;
}

section form {
	padding: 0.5em;
}

table {
	width: 85%;
	border: 1px solid;
	border-color: brown;
	border-collapse: collapse;
	margin-bottom: 1em;
	justify-content: center;
}

h1 {
	padding-top: 50px;
	padding-left: 2em;
}


td, th {
	padding: 5px;
	border: 1px solid purple;
}

input, textarea {
	display: block;
	margin-bottom: 2em;
}

.radio {
	display: inline;
	margin-bottom: 0em;
}

.checkbox {
	display: inline;
	margin-bottom: 0em;
}

#mySubmit {
	margin-left: 12em;
}

form {
	padding: 3em;
}

input:hover {
	background-color: #FF5454;
}	

nav {
	background-color: #FFFFFF;
	font-weight: bold;
	padding: 0.5em;
	width: 160px;
	display: block;
	float: none;
	width: auto;
	padding-left: 2em;
	}


/* This section adjusts the navigation buttons for the menu. */
nav a {
	padding: 0.3em;
	margin-left: 0.3em;
	float: left;
	width: 32%;
	background-color: #d02d1f;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	border: 2px outset #e02d1f;
	margin-bottom: 1em;
	display: block;
}

nav ul {
	list-style-type: none;
	padding-left: 0px;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  background-color: #0f1673;
}

.disabledlogo {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	background-color: #FFFFFF;
}

.image {
	padding: 0em;
}	

nav a:link {
	color: #0f1673;
}

nav a:visited {
	color: #FFFFFF;
}

nav a:hover {
	background-color: #bd261a;
	color: #0f1673;
	border: 2px inset #0f1673;
}

main {
	padding-left: 0.2em;
	padding-top: 1em;
	margin-left: 35px;
	margin-right: 35px;
	display: block;
}

footer {
	background-color: #e02d1f;
	font-size: .75em;
	font-style: italic;
	text-align: center;
	padding: 1em;
	display: block;
}

#mobile, #mobile1, #mobile2 {
	display: none;
}

#desktop, #desktop1, #desktop2 {
	display: inline;
}

tr:nth-of-type(even) { background-color: #BBBBBB; }

caption {
	margin: 1em;
	font-weight: bold;
	font-size: 120%;
}

#wrapper {
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	min-width: 1200px;
	max-width: 1480px;
}

.clear {
	clear: both;
	text-align: left;
}

@media only screen and (max-width: 768px) {
	body {
		margin: 0;
		padding: 0;
	}
	
	#wrapper {
		width: 100%;
		min-width: 0;
		margin: 0;
		padding: 0;
	}
	
	header {
		padding-top: 1px;
	}
	
	nav {
		justify-content: center;
		float: none;
		width: auto;
		padding-left: 2em;
		border: none;
		background-color: #FFFFFF;
	}
	
	nav a {
		padding: 0.5em;
		width: 45%;
		float: left;
		min-width: 6em;
		margin-left: 0.5em;
	}
	
	main {
		padding: 2.5em 1em;
		padding-top: 0;
		margin: 0;
		font-size: 90%;
		clear: both;
	}
	
	#hero img {
		width: 100%;
		height: auto;
	}
	
	h2, h3, p, dl {
		padding-right: 1em;
		padding-left: 1em;
	}
	
	main ul {
		margin-left: 2em;
	}
	
	.clear {
		padding-left: 0em;
		text-align: left;
	}
	
	h1 {
		font-size: 2em;
		padding-top: .25em;
		padding-left: 1.5em;
		width: 85%;
	}
	
	main {
		padding-top: 0;
	}
	
	table {
		width: 70%;
	}
	
	#hero {
		display: none;
	} 
	
	footer {
		padding: 0.5em;
		margin: 0;
	}
	
	#mobile {
		display: inline;
	}
	#mobile1 {
		display: inline;
	}
	#mobile2 {
		display: inline;
	}
	
	#desktop {
		display: none;
	}
	#desktop1 {
		display: none;
	}
	#desktop2 {
		display: none;
	}
}